@import 'globals.scss';
@import 'variables';


#imagePageContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-position: center;
    background-color: #333333;
    background-image: url("/uploadBackground.png");
    background-size: cover;
}

.mapContainer {
    width: 100%;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

.uploadBtn, .uploadBtn:hover {
    background-color: $ternary-color;
    width: 20%;
    border-radius: 8px;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#textInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25%;
    height: 50px;
    margin-bottom: 20px;
}

#textInput {
    text-align: center;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    border-radius: 32px;
}

#extra {
    list-style-type: none;
}

.logoSection {
    width: 100%;
}

#logo {
    padding: 10px;
    width: 30%;
    height: 100%;
    object-fit: contain;
}

#title {
    color: white;
}

.selectButton {
    width: 100%;
    background-color: #537647;
    color: white;
    border-radius: 32px;
    font-size: 1em;
    text-transform: lowercase;
    padding: 10px 40px 10px 40px;
}

.selectButton:hover {
    background-color: #537647;
}

.buttonSection {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
    margin-top: 40px;
}

#textInput {
    border:#537647 1px solid;
    width: 100%;
    height: 100%;
}

#textInput:hover {
    border:#537647 1px solid;
}

#textInput:focus {
    outline:#537647 1px solid;
}

.fileBoxSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottomSection {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
}

.bottomButtons {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.backButton, .uploadButton {
    width: 100%;
    background-color: #537647;
    color: white;
    border-radius: 32px;
    font-size: 1em;
    text-transform: lowercase;
    padding: 10px 40px 10px 40px;
}


.backButton:hover, .uploadButton:hover {
    background-color: #537647;
}

.end {
    margin-top: 50px;
}