.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.selectedChat {
  position: absolute;
  top: 80px;
  left: 26%;
  width: 250px;
  z-index: 1000;
  overflow: scroll;
  height: auto;
  max-height: 600px;
  scrollbar-width: none;
}