@import 'globals.scss';
@import 'variables';

#homePageContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
    // background-image: url("/journeyAIBackground.png");
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

#logo {
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
// .link:hover::after {
//     content: " →";
// }

#logo {
    opacity: 1; /* Start with opacity 0 to make the text invisible */
    animation: fadeIn 5s ease forwards; /* Apply the fadeIn animation */
}
  
@keyframes fadeIn {
from {
    opacity: 0; /* Start with opacity 0 */
}
to {
    opacity: 1; /* Gradually increase opacity to 1 */
}
}

.enterButton {
    width: 100%;
    background-color: #537647;
    color: white;
    border-radius: 32px;
    font-size: 2.5vw;
    height: 100%;
    text-transform: lowercase;
    
}

.enterButton:hover {
    background-color: #537647;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    width: 50%;
    border-radius: 32px;
    margin-top: 4em;
}

.introMapContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.typingContainer {
    font-size: 2em;
    height: 20px;
    width: 100%;
}

